/* ========================= General ========================= */

body {
  margin-bottom: 0;
}

.fullSizeCellWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idCellWrapper {
  justify-content: right !important;
  text-align: center;
}

.idNumber {
  position: absolute;
  left: 0;
  margin-left: 10px;
  flex-shrink: 0;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: rgba(179, 179, 179, 0.05) !important;
}

.tableWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ReactTable {
  width: 92.5%;
}

.ReactTable * {
  overflow: visible !important;
}

.extendedHover {
  width: 165%;
  height: 100%;
  display: flex;
  overflow: visible !important;
  flex: none;
  align-items: center;
}

.penIcon {
  cursor: pointer;
  display: none;
  opacity: 0;
}

.penIconHovered {
  display: block;
  opacity: 0.35;
}

.penIconEditing {
  display: block;
  opacity: 1;
  cursor: auto;
}

.unselectable {
  /* disable default browser user-select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ========================= Checkbox ========================= */

.checkmarkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 22px;
}

/* Hide the browser's default checkbox; too basic to suggest interactivity */

.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Custom checkbox */

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

/* On mouse-over on an unchecked checkbox in an editable row, add a grey background color */

.selectableCheckmark:hover input~.checkmark {
  background-color: #ccc;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */

.checkmarkContainer input:checked~.checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, the user hovers over, and its row is editable, darken the blue background */

.selectableCheckmark input:checked~.checkmark:hover {
  background-color: #0a6fc2;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */

.checkmarkContainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkmarkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ========================= Color Indicator ========================= */

.colorIndicatorContainer {
  border: 1.5px solid #666666;
  width: 35%;
  position: relative;
  height: 35px;
  background: white;
  /* Center inner color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  padding: 0;
}

.innerColor {
  width: 95%;
  height: 93%;
  border-radius: 16.5%;
  border: 0.5px solid #7f7f7f;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.mutableColorIndicator {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.mutableColorIndicator:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.mutableColorIndicator:hover>.innerColor {
  transform: scale(0.75);
}

/* ========================= Editing Controls ========================= */

.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px;
  padding: 20px;
  margin: 0;
}

.editingActionBar {
  color: #60afff;
  font-size: 20px;
}

.editingActionBar * {
  color: #60afff;
  font-size: 20px;
}

.editingAction {
  border: none;
  background: none;
}

.clickableEditingAction {
  cursor: pointer;
}

.editingAction:active {
  color: #0768c9;
}

.actionBarSeperator {
  color: #919191;
}

.editingTextField {
  border: 1px solid #919191;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.invalidTextField {
  border-color: #f00;
  -webkit-transition: border-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out;
}

.seedButton {
  border: none;
  background: none;
  cursor: pointer;
  color: #60afff;
  font-size: 32px;
  margin-top: 18.5%;
}

.addButtonWrapper {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.35;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

.addButtonWrapper:hover {
  opacity: 0.85;
}

.hiddenAddButtonDuringEditing {
  opacity: 0 !important;
  cursor: inherit !important;
}

.hiddenAddButtonDuringAdding {
  display: none;
}

.inRowAddIcon {
  opacity: 0.635;
}

.clickable {
  cursor: pointer;
}